.body--light {
  background-color: #F7F7F7;
}

button {
  text-transform: unset !important; // Remove texto em maiúsculo do Quasar
  outline: none;
  border: none;
}

.q-input,
.q-file {

  .q-field__label,
  .q-field__native {
    padding-left: 10px;
  }

  .q-field__control {
    border-radius: 12px !important;
  }

  .q-field__append {
    padding-right: 10px;
  }
}