.body--light {
  background-color: #F7F7F7;
}

button {
  text-transform: unset !important; // Remove texto em maiúsculo do Quasar
  outline: none;
  border: none;
}

.q-input,
.q-file,
.q-select {

  .q-field__label,
  .q-field__native {
    padding-left: 10px;
  }

  .q-field__control {
    border-radius: 12px !important;
  }

  .q-field__append:last-child {
    padding-right: 10px;
  }
}

.debug,
.debug--red {
  * {
    outline: 1px solid red !important;
  }

  outline: 1px solid red !important;
}

.debug--green {
  * {
    outline: 1px solid green !important;
  }

  outline: 1px solid green !important;
}

.debug--blue {
  * {
    outline: 1px solid blue !important;
  }

  outline: 1px solid blue !important;
}

.debug--yellow {
  * {
    outline: 1px solid yellow !important;
  }

  outline: 1px solid yellow !important;
}

.svg__container {
  font-weight: bolder;
  padding: 12px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  svg {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }
}